[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
numpy = "*"
opencv-python = "*"
opencv-contrib-python = "==4.9.0.80"

[dev-packages]

[requires]
python_version = "3.11"
